<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Báo Lỗi</title>
</head>

<body>

    <div style="background-color:green;text-align: center">
        <h1>Có Lỗi, có thể là một trong các lỗi:</h1>
        <h1> * lỗi trong câu lệnh thêm (thêm trùng khóa chính)</h1>
        <h1> * lỗi chưa nhập đủ trường thông tin</h1>
        <form action="/baoloituongtac" method="post" style="width: 100%;">
            <button type="submit" style="padding:20px 50px;background-color:black;color: white;">Trang chủ</button>
        </form>
    </div>
    <div style="background-color: black;text-align: center;margin: 50px auto;">
        <a href="/dangxuat" style="color: white;">Đăng Xuất</a>
    </div>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Báo Lỗi</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        a{
            color: red;
        }

        a:hover, a:active{
            text-decoration: none;
            color: red;
            border-bottom: 1px solid red;
        }

    </style>
</head>

<body>
    <div style = "width: 600px; margin-left: 300px; margin-top: 50px" class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Lỗi !!!</h4>
        <p>Có Lỗi, có thể là một trong các lỗi:</p>
        <p> * lỗi trong câu lệnh thêm (thêm trùng khóa chính)</p>
        <p> * lỗi chưa nhập đủ trường thông tin</p>
        <hr>
        <form action="/baoloituongtac" method="post" style="width: 100%;">
            <button type="submit" style="padding:20px 50px;background-color:black;color: white;">Trang chủ</button>
        </form>
    </div>

</body>

</html>