<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<!-- Head -->

<head>
    <title>NEWS DATABASES</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Key Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="web/css/style.css" type="text/css" media="all">
    <!-- //Custom-Stylesheet-Links -->
    <!--fonts -->
    <!-- //fonts -->
    <link rel="stylesheet" href="web/css/font-awesome.min.css" type="text/css" media="all">
    <!-- //Font-Awesome-File-Links -->

    <!-- Google fonts -->

    <!-- Google fonts -->

</head>
<!-- //Head -->
<!-- Body -->

<body>

    <section class="main">
        <div class="layer">

            <div class="content-w3ls">
                <div class="text-center icon">
                    <span class="fa fa-diamond"></span>
                </div>
                <div class="content-bottom">
                    <form name = "login" onsubmit="return check()" action="#" method="post">

                        <div class="field-group">
                            <span class="fa fa-user" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input name="username" id="text1" type="text" value="" placeholder="Username" autocomplete="off">
                            </div>
                        </div>

                        <div class="field-group">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input name="password" id="myInput" type="Password" placeholder="Password" autocomplete="off">
                            </div>
                        </div>

                        <div class="wthree-field">
                            <button type="submit" class="btn">Log In</button>
                        </div>


                    </form>
                </div>
            </div>

        </div>
    </section>


    <script>
        function check(){
            var username = document.login.username.value;
            if(username == ""){
                alert("Bạn chưa nhập username !");
                document.login.username.focus();
                return false;
            }

            var password = document.login.password.value;
            if(password == ""){
                alert("Bạn chưa nhập password !");
                document.login.password.focus();
                return false;
            }
        }

    </script>

</body>
<!-- //Body -->

</html>