<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thêm tài khoản</title>
    <style>
        input[type=text],
        select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 1px;
            box-sizing: border-box;
        }
        
        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        input[type=submit]:hover {
            background-color: green;
        }
        
        div {
            background-color: #f2f2f2;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border-radius: 6px;
            box-sizing: border-box;
        }
        
        .div1 {
            border: 1px solid red;
        }
        
        .div2 {
            background-color: aqua;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <ul>
        <li><a href="/admin">Trang chủ Admin</a></li>
    </ul>

    <div style="font-size: 50px;text-align: center;color: green;margin: 20px auto">Thêm Tài khoản</div>

    <div>
        <form action="" method="POST">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3" style="background-color:green;">

                        <div class="div1 div2">Name</div>
                        <div class="div1 div2">Password</div>
                    </div>
                    <div class="col-sm-9" style="background-color:green;">
                        <input name="name" type="text" placeholder="Name.." autocomplete="off">
                        <input name="pass" type="text" placeholder="password.." autocomplete="off">
                    </div>
                </div>
            </div>
            <input type="submit" value="Thêm tài khoản" value="">
        </form>
    </div>
    <div style="background-color: black;text-align: center;margin: 50px auto;">
        <a href="/dangxuat" style="color: white;">Đăng Xuất</a>
    </div>
</body>

</html>